.about_us{
    width: 90vw;
    margin: 0 auto;
    margin-block: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about_us_context{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: center;
        gap: 20px;

        h1{
            font-weight: 700;
            font-size: 33px;
            color: #2c333d;
        }

        p{
            font-weight: 500;
            font-size: 17px;
            color: #2c333d;
        }

        .about_us_facts{
            width: 100%;
            display: flex;

            img{
                height: 100px;
            }
        }

        a button{
            border-radius: 8px;
            width: 252px;
            height: 62px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #011120;
            border: 1px solid #011120;

            font-weight: 700;
            font-size: 13px;
            color: #fff;
        }
    }

    img{
        width: 50%;
    }
}

@media(max-width: 1024px){
    .about_us{
        text-align: center;
    }

    #instruments_immg{
        display: none;
    }

    .about_us_facts{
        flex-wrap: wrap;
    }
}